/* Web Fonts -------------------- */

@include font-face('Abolition Regular', abolition-regular);

.title {
  color: $colour-text-light;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;

  @media #{$brk-narrow} {
    font-size: 1.3rem;
    border: none;
  }
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;

  @media #{$brk-narrow} {
    font-size: 1rem;
  }
}
